<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Job Tracker</h1>
    <p class="lead">A new way to navigate the corporate world</p>
    <%= link_to "Categories", categories_path, :class => "btn btn-lg btn-pill btn-info", style: 'margin-right:20px;'  %>
    <%= link_to "Companies", companies_path, :class => "btn btn-lg btn-pill btn-primary", style: 'margin-right:20px;'  %>
    <%= link_to "Dashboard", dashboard_path, :class => "btn btn-lg btn-pill btn-danger"  %>
  </div>
</div>

<div class ="container ">
 <div class="row">
  <div class="col-md-4">
    <div class="thumbnail">

        <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?auto=format&fit=crop&w=1350&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="Lights" style="width:100%">
        <div class="caption">
          <p>Track your interests</p>
        </div>
    
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
   
        <img src="https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?auto=format&fit=crop&w=1350&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="Nature" style="width:100%">
      
        <div class="caption">
          <p>Manage the complexity</p>
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      
        <img src="https://images.unsplash.com/photo-1508834633996-7ca4bc707cf8?auto=format&fit=crop&w=1330&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" alt="Fjords" style="width:100%">
        <div class="caption">
          <p>Monitor your contacts</p>
        </div>
      
    </div>
  </div>
</div>
</div>


