<div class="container">
    <div class="row">
        <div class="col-xs-12">
          
          
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="/categories">Categories</a></li>
              <li class="breadcrumb-item"><a href="/categories/<%=@category.id %>"><%= @category.title %></a></li>
              <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
          </nav>


        </div>
    </div>
</div>





<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h1><%= @category.title %></h1>
          <p>Make your updates to this category below</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
          <%= render partial: "form" %>
        </div>
    </div>
</div>




